body {
    background: #f7f7f7;
}
div.ui-input-text a.ui-icon-delete.ui-btn-icon-notext {
    text-indent: -9999px;
}
div.ui-input-text .ui-icon-delete:after {
    background-color: rgba(0, 0, 0, 0.3);
    margin-top:-10px;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%2214%2C3%2011%2C0%207%2C4%203%2C0%200%2C3%204%2C7%200%2C11%203%2C14%207%2C10%2011%2C14%2014%2C11%2010%2C7%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: #f7f7f7;
    border-color: #f7f7f7;
    color: #525252;
    text-shadow: none;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: #fff;
    border-color: #fff;
    color: #525252;
    font-weight: 700;
    text-shadow: none;
}
.ui-header h1.ui-title {
    /* Avoid header logo weirdness on ios: */
    overflow:visible !important;
    width:100%;
    display:block;
    margin:0;
}
.ui-header .ui-title center {
    min-width:200px;
}
.ui-header .ui-title img {
    height:40px;
    width:155px;
}

.well {
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px; /* for old Konqueror browsers */
    border-radius: 4px; /* future proofing */
    padding:20px;
}

#input, #loading .well{
    margin: 15px auto;
    max-width: 360px;
}

#input label {
    font-size: 24px;
}

.ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head + body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head + body .ui-btn.ui-btn-b:visited {
    background-color: #477faa;
    border-color: #477faa;
    box-shadow: none;
    color: #fff;
    text-shadow: none;
}
.ui-page-theme-b .ui-btn:hover,html .ui-bar-b .ui-btn:hover,html .ui-body-b .ui-btn:hover,html body .ui-group-theme-b .ui-btn:hover,html head+body .ui-btn.ui-btn-b:hover{
    background-color:#399dd4;
    border-color:#399dd4;
    color:#fff;
    text-shadow:none;
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 1em;
}
div.goto-app-address {
    font-size:90%;
    text-overflow:ellipsis;
    overflow:hidden;
    width:100%;
}

body #loading .well #loadingtext {
    background: #73af66;
    border: 1px solid #73af66;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    font-size: 1em!important;
    color:#fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px; /* for old Konqueror browsers */
    border-radius: 4px; /* future proofing */
    padding:20px;
    text-align:center;
}

.ui-btn-icon-left {
    padding-left: 2em;
}

.ui-btn-google {
    background: #dd4b39 url(https://google-developers.appspot.com/+/images/branding/btn_red_32.png) 10px 4px no-repeat !important;
    border-color: #dd4b39 !important;
    color: white !important;
    text-shadow: none !important;
}
.ui-btn-google:hover {
    background-color: #e74b37 !important;
    border-color: #e74b37 !important;
    cursor: hand !important;
    text-shadow: none !important;
}

h4.divider {
    text-align: center;
}

#applist li {
    list-style-type: none;
}
