body {
    margin: 0;
    background:#5c5c5c;
    background-image: url("../img/background-angles.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
}
.screen {
    position:relative;
    display:none;
    width:90%;
    max-width: 330px;
    height:440px;
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    background:#ffffff;
    border-radius:7px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
}
.screen-header {
    text-align:center;
    height:145px;
    background:#efefef;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
}
.screen-header .sapho-logo {
    width:60%;
    margin-top:50px;
}
.screen-title {
    text-align:center;
    margin:20px 14px;
    font-size:18px;
}
.connecting-url {
    text-align:center;
    word-wrap: break-word;
    padding:14px;
    font-size:14px;
    color:#1daf5b;
}
.content {
    height:225px;
}
.content input[type=text] {
    width:86%;
    height:42px;
    padding:0 2%;
    margin-left:5%;
    margin-bottom:16px;
    font-size:16px;
    line-height:24px;
    border:1px solid #b9b9b9;
    border-radius:5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.button {
    display:table;
    width:90%;
    height:42px;
    margin-left:5%;
    font-size:14px;
    font-weight: bolder;
    line-height:42px;
    text-align:center;
    background:#13a4eb;
    color:#ffffff;
    border-radius:5px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.button i:first-child {
    display:table-cell;
    width:50px;
}
.button i:last-child {
    display:table-cell;
    width:20px;
}
.button img {
    position: relative;
    top:5px;
    left:13px;
    display:block;
    line-height: 22px;
}
.button span {
    display:table-cell;
}
.button-separator {
    position:relative;
    display:block;
    width:90%;
    height:35px;
    left:5%;
}
.button-separator div {
    position: relative;
    top: 17px;
    height: 1px;
    background:#eaeaea;
    text-align: center;
}
.button-separator span {
    position: relative;
    top: -10px;
    padding:0 5px;
    color:#9a9a9a;
    font-size:12px;
    line-height:12px;
    background:#ffffff;
}
.footer-button {
    position:relative;
    height:45px;
    padding-top:25px;
    font-size:14px;
    font-weight: bolder;
    text-align:center;
    background:#efefef;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
}

#recent-urls {
    display: table;
    width:90%;
    height:42px;
    margin-left:5%;
    margin-bottom:16px;
    font-size:12px;
    font-weight: bolder;
    line-height:42px;
    text-align: center;
    background:#efefef;
    color:#000000;
    border-radius:5px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

#recent-urls span {
    display:table-cell;
    max-width: 247px;
    height:42px;
    padding-left: 5px;
    font-size:12px;
    font-weight: bolder;
    line-height:42px;
    text-align: center;
    color:#000000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#recent-urls i {
    display:table-cell;
    width:50px;
    height:42px;
    font-size:16px;
    line-height:42px;
    text-align: center;
    color:#000000;
}

#recent-urls select {
    position: absolute;
    left:5%;
    width:90%;
    height:42px;
    color:transparent;
    background:transparent;
    border-radius:5px;
    opacity: 0;
}
